
config CUSTOM_KERNEL_TILT_DETECTOR_SENSOR
	bool "CUSTOM_KERNEL_TILT_DETECTOR_SENSOR"
	help
	  Kernel space tilt detector sensor driver.
source "drivers/misc/mediatek/sensors-1.0/tilt_detector_sensor/tiltdetecthub/Kconfig"
